.about-container {
    background-color: #0a0a0a;
    margin-top: 32px;
}

.upper {
    margin-bottom: 32px;
}

.status {
    float: right;
    height: auto;
    margin-bottom: -25px;
    z-index: 1;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    border-right: 8px solid red;
    background-color: white;
    display: inline-block;
}

.about-me {
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
    max-width: 1232px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    max-width: 582px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 64px;
}

.link-arrow {
    width: 16px;
}

.card p {
    color: black;
    font-size: 16px;
    margin-right: 8px;
    font-weight: 500;
}

.card a {
    text-decoration: none;
}

.sub-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width :450px;
    height: 100px;
    background-color: white;
    margin-top: -50px;
    margin-left: 100px;
    position: relative;
    z-index: 2;
}

.sub-card p {
    font-weight: 500;
}

.social1 {
    display: flex;
    align-items: center;
}

.social2 {
    display: flex;
    align-items: center;
}

.social3 {
    display: flex;
    align-items: center;
}

.social4 {
    display: flex;
    align-items: center;
}

.social4 p {
    color: black;
}

.me {
    width: 450px;
    height: 304px;
    z-index: 1;
    background-color: black;
    position: absolute;
}

.me-pic {
    max-width: 450px;
    pointer-events: none;
}

.bio {
    margin-left: 16px;
}

.card h1 {
    color: white;
    font-size: 22px;
}

.text {
    margin: 0 auto; 
    max-width: 582px;
}

.text-h1 {
    height: 30px;
    margin-bottom: 16px;
    overflow: hidden;
}

.text h1 {
    font-size: 26px;
    margin: 0px;

    color: white;
}

.text p {
    margin: 0px;
    font-size: 16px;
    color: #A5ABB1;
    line-height: 1.5em;
    font-weight: 300;
}

@media only screen and (max-width: 992px) {
    .cursor {
        display: none;
    }

    .me {
        display: none;
    }

    .me-pic {
        max-width: 550px;
        width: 100%;
    }

    .sub-card {
        max-width: 550px;
        width: 100%;
        height: 75px;
        background-color: white;
        margin-top: -5px;
        margin-left: 0px;
        position: relative;
        margin-bottom: 64px;
        z-index: 2;
    }
}
