@import url('https://rsms.me/inter/inter.css');

html, body {
    margin: 0px;
    padding: 0px;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    background-color: #0d0e0e;
}

.footer-container {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1264px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 14px;
    padding-bottom: 64px;
    padding-top: 64px;
}


ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    color: #dadada;
    line-height: 2em;
    font-weight: 300;
    max-width: 450px;
    margin-right: 16px;
}

.title {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    color: #dadada;
}

@media only screen and (max-width: 992px) {
    .footer-container {
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
    }

    .title {
        margin-bottom: 8px;
    }
}