@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;

}

body, html {
    margin: 0;
    background: #0a0a0a;
    height: 100%;
}

.cursor {
    overflow: hidden;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.5s ease;
    transition-property: background-color, border, transform;
    transform-origin: 250% 250%;
    z-index: 3;
}

.cursor-shrink {
    transform: scale(1.25);
    border: 25px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 1);
    mix-blend-mode: difference;
    overflow: hidden;
   /* background-color: rgba(255, 255, 255, 0.5)*/
}

.loader {
    z-index: 2;
    position: fixed;
    display: flex;
    pointer-events: none;
}

.box1 {
    width: 25vw;
    height: 100vh;
    background-color: black;
}

.box2 {
    width: 25vw;
    height: 100vh;
    background-color: black;
}

.box3 {
    width: 25vw;
    height: 100vh;
    background-color: black;
}

.box4 {
    width: 25vw;
    height: 100vh;
    background-color: black;
}

.hero-container {
    background: #0a0a0a;
}

.hero {
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
    max-width: 1264px;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero h1 {
    max-width: 550px;
    font-size: 62px;
    font-weight: 600;
    line-height: 1.1em;
    margin: 0px;
    margin-bottom: 16px;
    color: white;
}

.hero p {
    max-width: 550px;
    font-size: 16px;
    margin: 0px;
    font-weight: 300;
    line-height: 2em;
    color: #A5ABB1;
}

.span-bold {
    color: white;
    font-weight: 600;
}

.skills {
    max-width: 366px;   
}

.skills2 {
    display: none;
}

.row1 {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.row2 {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.row3 {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;
}

.row4 {
    display: flex;
    float: right;
    justify-content: space-between;
}

.row1 p {
    font-size: 12px;
    padding-left: 16px;
    margin: 0;
}

.row2 p {
    font-size: 12px;
    padding-left: 16px;
    margin: 0;
}

.row3 p {
    font-size: 12px;
    padding-left: 16px;
    margin: 0;
}

.row4 p {
    font-size: 12px;
    padding-left: 16px;
    margin: 0;
}

#ux {
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

#int {
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

#prod {
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

#mot {
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

#web-des {
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

#web-dev {
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

.ux-design {
    width: 175px;
    height: 75px;
    background-color: #151515;
    border: 1px solid #212121;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.int-design {
    width: 175px;
    height: 75px;
    background-color: #151515;
    border: 1px solid #212121;
    border-radius: 8px;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.mot-design {
    width: 175px;
    height: 75px;
    background-color: #151515;
    border: 1px solid #212121;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.prod-design {
    width: 175px;
    height: 75px;
    background-color: #151515;
    border: 1px solid #212121;
    border-radius: 8px;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.web-design {
    width: 175px;
    height: 75px;
    background-color: #151515;
    border: 1px solid #212121;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.web-dev {
    width: 175px;
    height: 75px;
    background-color: #151515;
    border: 1px solid #212121;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.scroll {
    max-width: 1264px;
    padding-left: 32px;
    padding-right: 32px;
    height: 18px;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.scroll img {
}

.scroll p {
    color: white;
    margin: 0px;
    font-size: 16px;
    font-weight: 400x;
}

.scroll-down {
    display: flex;
}

.projects {
    height: 51px;
    overflow: hidden;
}

.arrow {
    pointer-events: none;
    margin-right: 16px;
}

.project {
    margin: 0 auto;
    max-width: 1264px;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 128px;
}

.project-sep {
    display: flex;
    margin-top: 128px;
}

.line {
    pointer-events: none;
}

.project-sep h1 {
    color: white;
    margin: 0px;
    margin-left: 16px;
    font-size: 26px;
}

.project p {
    margin: 0px;
    margin-top: 16px;
    max-width: 550px;
    font-size: 16px;
    font-weight: 300;
    color: #A5ABB1;
    line-height: 2em;
}

.project-container {
    margin: 0 auto;
    max-width: 1264px;
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
}

.google-project {
    text-decoration: none;
}

.localize-project {
    text-decoration: none;
}

.google-project:hover .arrow-right {
    transform: translateX(25px);
}

.google-project:hover .google-image {
    transform: scale(1.1);
    transform-origin: 50% 50%;
}

.localize-project:hover .arrow-right {
    transform: translateX(25px);
}

.project-left {
    display: flex;
    align-items: center;
}

.text-left {
    z-index: 1;
    max-width: 450px;
    margin-left: 50px;
}

.image-left {
    display: inline-block;
    overflow: hidden; 
}

.image-left img {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    opacity: .8;
    display: block;
    transition: all .5s ease;
}

.project-left h1 {
    color: white;
    font-size: 42px;
    margin: 0px;
    margin-left: -100px;
    margin-bottom: 32px;
}

.project-left span {
    color: #A5ABB1;
    margin: 0px;
    line-height: 2em;
}

.case-study {
    display: flex;
}

.project-left p {
    color: white;
    margin: 0px;
    font-weight: 600;
    margin-top: 24px;
}

.arrow-right {
    margin-top: 24px;
    margin-left: 16px;
    transition: all .5s ease;
}

@media only screen and (max-width: 992px) {
    .cursor {
        display: none;
    }

    .hero {
        margin-top: 128px;
        padding-left: 16px;
        padding-right: 16px;
        flex-direction: column;
        justify-content: none;
        height: auto;
    }

    .hero h1 {
        font-size: 32px;
        max-width: none;
        text-align: center;
    }

    .hero p {
        font-size: 16px;
        margin: 0px;
        text-align: center;
        max-width: none;
    }

    .skills {
        display: none;
    }

    .skills2 {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
    }

    .skills2 p {
        font-size: 12px;
        margin: 0;
    }

    .ux-design2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }
    
    .int-design2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }
    
    .mot-design2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }
    
    .prod-design2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }
    
    .web-design2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }
    
    .web-dev2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }

    .scroll {
        margin-top: 64px;
        flex-direction: column;
        align-items: center;
    }

    .projects {
        display: none;
    }
    

    .project-sep {
        display: flex;
        margin-top: 64px;
    }

    .project-sep h1 {
        margin: 0px;
        margin-left: 16px;
    }

    .project p {
        margin: 0px;
        margin-top: 16px;
    }

    .project {
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 64px;
    }

    .project-container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .project-display {
        margin-bottom: 32px;
    }
}

@media only screen and (max-width: 768px) {
    .cursor {
        display: none;
    }

    .hero {
        margin-top: 64px;
        flex-direction: column;
        justify-content: none;
        height: auto;
    }

    .hero h1 {
        font-size: 32px;
        max-width: none;
        margin: 0px;
        text-align: left;
    }

    .hero p {
        margin-top: 16px;
        text-align: left;
        max-width: none;

    }

    .skills {
        display: none;
    }

    .skills2 {
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
    }

    .skills2 p {
        font-size: 12px;
        margin: 0px;
    }

    .ux-design2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }
    
    .int-design2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }
    
    .mot-design2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }
    
    .prod-design2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }
    
    .web-design2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-right: 8px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }
    
    .web-dev2 {
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 8px;
        height: 40px;
        background-color: #19191A;
        border-radius: 32px;
        display: flex;
        align-items: center;
    }

    .scroll {
        margin-top: 64px;
        flex-direction: column;
        align-items: center;
    }

    .projects {
        display: none;
    }
}